extends layout

block append appended_scripts
    script(src='/javascripts/contentFunctions.js')

block navbar-name
    a(class='navbar-brand') Content

block title
    title Content - IoT System

block content-authenticated
    div#contentView(class='ml-n3 mt-4 rounded-lg shadow-sm p-3')
        button(class='btn btn-primary float-right mb-3', id='newContentButton')
            span(class='feather-24 mr-2' data-feather='plus')
            | Upload Content

        table(class='table')
            caption List of Content
            thead
                tr
                    th(scope='col') #
                    th(scope='col') Content URL
                    th(scope='col') Content Type
                    th(scope='col') Actions
            tbody
                each content, index in contentList
                    tr
                        th(scope='row') #{index + 1}
                        td #{content.content_url}
                        td #{content.content_type}
                        td #[a(class='feather-16 mr-2 align-self-center deleteContent' data-contentid=content.id data-contenturl=content.content_url data-feather='trash' data-toggle='tooltip' title='Remove Content')]
                else
                    li There is no content in the database.

        div(class='modal fade', id='newContentModal', tabindex='-1', role='dialog', aria-hidden="true")
            div(class='modal-dialog modal-dialog-centered', role='document')
                div(class='modal-content')
                    form(id='uploadContentForm', method='POST', action='/content/upload', enctype="multipart/form-data")
                        div(class='modal-header')
                            div(class='modal-title') #[h4 New Content]
                            button(type='button', class='close', data-dismiss='modal', aria-label='Close')
                                span &times;
                        div(class='modal-body')
                            input(id='contentFile', type='file', class='form-control-file', name='contentFile')
                        div(class='modal-footer')
                            button(class='btn btn-primary', type='submit')
                                span(class='feather-24 mr-2' data-feather='plus')
                                | Upload Content
