extends layout

block append appended_scripts
    script(src='/javascripts/topicFunctions.js')

block title
    title Topics - IoT System

block navbar-name
    a(class='navbar-brand') Topics

block content-authenticated
    div#contentView(class='ml-n3 mt-4 rounded-lg shadow-sm p-3')
        button(class='btn btn-primary float-right mb-3' id='newTopicButton')
            span(class='feather-24 mr-2' data-feather='plus')
            | New topic

        table(class='table')
            caption List of Topics
            thead
                tr
                    th(scope='col') #
                    th(scope='col') Topic Name
                    th(scope='col') Topic Content
                    th(scope='col') Actions
            tbody
                each topic, index in topicList
                    tr
                        th(scope='row') #{index + 1}
                        td #{topic.topic_name}
                        for content in contentList
                            if content.id === topic.content_id
                                td #{content.content_url}
                                break
                        td #[a(class='feather-16 mr-2 align-self-center topicItem' data-topicid=topic.id data-feather='edit' data-toggle='tooltip' title='Edit Topic')]
                else
                    li There are no topics in the database.

        div(class='modal fade', id='newTopicModal', tabindex='-1', role='dialog', aria-hidden="true")
            div(class='modal-dialog modal-dialog-centered', role='document')
                div(class='modal-content')
                    form(id='addTopicForm', method='POST', action='/topics')
                        div(class='modal-header')
                            div(class='modal-title') #[h4 New Topic]
                            button(type='button', class='close', data-dismiss='modal', aria-label='Close')
                                span &times;
                        div(class='modal-body')
                            input(class='form-control', id='topicName', type='text', placeholder='Insert topic name...', name='topicName', pattern='[a-zA-Z0-9]+')
                        div(class='modal-footer')
                            button(type='submit', class='btn btn-primary') 
                                span(class='feather-24 mr-2' data-feather='plus')
                                | Create Topic

        div(class='modal fade', id='topicModal', tabindex='-1', role='dialog', aria-hidden="true")
            div(class='modal-dialog modal-dialog-centered', role='document')
                div(class='modal-content')
                    div(class='modal-header')
                        div(class='modal-title') #[h4 Topic Information]
                        button(type='button', class='close', data-dismiss='modal', aria-label='Close')
                            span &times;
                    div(class='modal-body')
                        h5 Topic Name
                        p(id='topicName') Basic Topic Title
                        h5 Topic Content
                        p(id='contentId') This topic has no content connected to it.
                    div(class='modal-footer')
                        button(type='button', class='btn btn-outline-primary', id='updateTopic') Edit Topic
                        button(type='button', class='btn btn-outline-danger', id='deleteTopic') Delete Topic

        div(class='modal fade', id='topicEditModal', tabindex='-1', role='dialog', aria-hidden='true')
            div(class='modal-dialog modal-dialog-centered', role='document')
                div(class='modal-content')
                    div(class='modal-header')
                        div(class='modal-title') #[h4 Editing Topic]
                        button(type='button', class='close', data-dismiss='modal', aria-label='Close')
                            span &times;
                    div(class='modal-body')
                        input(id='topicName', class='form-control mb-3', type='text', name='topicName')
                        select(id='contentId' class='form-control', type='text', name='contentId')
                            for content in contentList
                                option(label=content.content_url) #{content.id}
                    div(class='modal-footer')
                        button(type='button', class='btn btn-outline-primary', id='saveTopicUpdate') Save
                        button(type='button', class='btn btn-outline-secondary', id='cancelButton') Cancel

